@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Rock+Salt&family=Sora:wght@300;400;700&display=swap');
* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}
p {
  font-family: "Inter", sans-serif;
}

.fullscreen
{
    width: 100vw;
    height: 100vh;
}
.margin-top{
  margin-top:150px ;
}

.inter{
  font-family: 'Rock Salt', cursive;
}
.img-sz{
  height: 100px;

}
.mar{
  margin-top: 10px;
}

.padding{
  padding-top: 200px;
}

span{
  font-family: 'Sora', sans-serif;
}

.pad-l{
  padding-left: 4rem;
}

.pad-r
{
  padding-right: 4rem;
}

.mar-t{
  margin-top: 50px;
}

.line {
  background-color: #dc3545;
  width: 30px;
  height: 5px;
}
.padding-top{
  margin-top: 100px;
}

.margin-top{
  margin-top: 90px;
}

.hieght{
  margin-top: 150px;
}

.inner{
  padding: 250px;
}
/* .mar-in{
  margin-left: 250px;
  margin-right: 250px;
} */

.mar-l{
  margin-left: 260px;
}

.pad-in{
  padding-bottom: 40px;
}

.mar-p
{
  margin-left: 450px;
  margin-top: 20px;
}

.pad-m{
  padding-left: 30px;
  padding-right: 30px;
}
.text-center{
  margin-left: 30px !important;
}

.lst-mar{
  margin-top: 300px;
}

.left
{
  margin-left: 250px;
}
.btn
{
  box-shadow: inset 0 0 0.8em rgba(255, 255, 255, 0.3), 0 0 0.8em rgba(255, 255, 255, 0.3);
  border: #fff solid 2px;
  background-color: #fff ;
}
.btn:hover{
  background-color: #fb5454;
  box-shadow: inset 0 0 0 rgba(251, 81, 81, 0.4), 0 0 1.5em rgba(251, 81, 81, 0.6);
}